body {
  background-color: whitesmoke;
}

.navbar {
  font-weight: bold;
}

.profile {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

#profilePic {
  width: 240px;
}
.card {
  border-radius: 0%;
}

.card-body {
  border-radius: 0%;
}

.anchor {
  display: block;
  height: 92px;
  margin-top: -92px;
  visibility: hidden;
}
