/* body {
  background-color: whitesmoke;
  color: whitesmoke;
} */

nav {
  font-weight: bold;
  color: #171717;
}

.profile {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

#profilePic {
  width: 240px;
}
